<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>About</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />

<link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="slicknav.css" />
<link rel="stylesheet" href="styles.css" />
</head>
<!-- </head> -->
<body>

<!-- Header -->
<header class="header" role="banner" id="header">
  <div class="container">

    <nav>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#products">Products</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#shopping_cart"><i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 25px"></i></a></li>
      </ul>
    </nav>

    <h1><a href="#"><img src="images/apple.png" height="120px" width="110px" alt=""></a></h1>

  </div>
</header>
<!-- Header ends -->

<main class="front-page main" role="main">
  <h1 style="color:#00ff55">About Us</h1>


  <!-- Featured Blocks -->
  <section class="featured">
    <div class="container">

      <div class="block">
        <img src="images/foodbasket.jpg" alt="foodbasket">
      </div>


      <div class="block">
        <img src="images/scale.jpg" alt="scale">
      </div>

      <div class="block">
        <img src="images/meal-plate.jpg" alt="food">
      </div>

    </div>
  </section>
  <!-- Featured Blocks Ends! -->

</main>
<!-- Main Ends! -->


<!-- 1stone half blocks -->
<section class="featured">
  <div class="one-half">
    <div class="block">
      <!-- <img src="images/foodbasket.jpg" alt=""> -->
    </div>
    <!-- <div class="block"> -->
      <br><br><br>
      <h1 style="color:#00ff55">Who We Are:</h1><br><br>
      <h2 style="color:#00ff55">Meal Planning Made Easy and Stress Free!</h2><br><br>
      <h4>
        <ul>Our nutrition experts have helped thousands</ul>
        <ul>lose weight by changing their eating habits.</ul>
        <ul>We offer structured, balanced and easy to follow programs</ul>
        <ul>that are based on your gender, height and weight.</ul>
      </h4><br><br><br><br><br>
    </div>
  <!-- </div> -->
  <!-- 1st one half blocks Ends! -->

  <!-- 2nd one half blocks -->
  <div class="one-half">
    <div class="block">
      <!-- <img src="images/scale.jpg" alt=""> -->
    </div>
    <!-- <div class="block"> -->
      <br><br>
      <h4 style="color:#00ff55">We will tell you:</h4><br>

          <h3><i class="fa fa-cutlery" aria-hidden="true">What foods to eat</i></h3>

          <h3><i class="fa fa-cutlery" aria-hidden="true">   How much food to eat</i></h3>

          <h3><i class="fa fa-cutlery" aria-hidden="true">   When to eat your meals</i></h3>

          <h3><i class="fa fa-cutlery" aria-hidden="true">   How to maintain your weight loss</i></h3>

          <h3><i class="fa fa-cutlery" aria-hidden="true">   Our plans are customized specifically for you!</i></h3>

      <h3><i class="fa fa-ban" aria-hidden="true">
NO DANGEROUS DRUGS!</i></h3>
      <h3><i class="fa fa-ban" aria-hidden="true">
NO EXTREME FASTING!</i></h3>
    <!-- </div> -->
  </div>
  <!-- 2nd one half blocks Ends! -->

  <!-- 3rd one half blocks -->
  <div class="one-half">
    <div class="block">
      <!-- <img src="images/meal-plate.jpg" alt=""> -->
    </div>
    <!-- <div class="block"> -->
      <br><br><br><br>
      <h2 style="color:#00ff55">We have created:</h2>
      <br>
      <h4><i class="fa fa-heartbeat" aria-hidden="true">  Personalized Plans</i></h4>
      <h4><i class="fa fa-heartbeat" aria-hidden="true">  Menu Item Substitution</i></h4>
      <h4><i class="fa fa-heartbeat" aria-hidden="true">  Educational Documentation and Instruction</i></h4>
      <h4><i class="fa fa-heartbeat" aria-hidden="true">  FREE at Home Workout</i></h4>
      <h4><i class="fa fa-heartbeat" aria-hidden="true">  Simple Weight Loss, Save Time and Money</i></h4><br><br><br>

      <!-- <img src="/images/getstarted.jpg" height="50px" width="50px" alt="get started"/>
      <h1>Let's Get Started!</h1><a href="#/products"><button class="started btn btn-default">Get Started!</button></a>
      <p>P.S. There is a reason you found us…. Let’s take this step together</p> -->


    </div>
<!-- </div> -->
</section>

<!-- 3rd one half blocks Ends! -->



<!-- Footer -->
<footer class="source-org copyright footer">
  <div class="container">
    <a href="#/"><img src="images/apple.png" height="50px" width="50px" alt="FitLife" /></a>
    <br>

    <p>Copyright 2017 <a href="http://http://54.190.52.82:5000/">FitLife</a></p>
    Made with
      <i class="fa fa-heart" aria-hidden="true"></i>
       &amp;
      <i class="fa fa-music" aria-hidden="true"></i>
  </div>
</footer>
<!-- Footer Ends! -->

<!-- <a href="#header" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->

</body>
