<!-- About Page -->

<img src="/images/foodbasket.jpg" alt="foodbasket"/>
<h1>Who We Are</h1>

<img src="/images/scale.jpg" alt="scale"/>
<h2>Meal Planning Made Easy and Stress Free!</h2>
<p>
  Our nutrition experts have helped thousands lose weight by changing their eating habits. We offer structured, balanced and easy to follow programs that are based on your gender, height and weight.
</p>

<img src="/images/meal-plate.jpg" alt="mealplate"/>
<p>
  We will tell you:

  <ul>What foods to eat
    <li><i class="fa fa-heartbeat" aria-hidden="true">How much food to eat</i></li>

    <li><i class="fa fa-heartbeat" aria-hidden="true">When to eat your meals</i></li>

    <li><i class="fa fa-heartbeat" aria-hidden="true">How to maintain your weight loss</i></li>

    <li><i class="fa fa-heartbeat" aria-hidden="true">Our plans are customized specifically for you!</i></li>
  </ul>
</p>

<h2>NO DANGEROUS DRUGS!</h2>
<h2>NO EXTREME FASTING!</h2>


<!-- last image section - with favicons  -->
<ul>
<li>Personalized Plans</li>
<li>Menu Item Substitution</li>
<li>Educational Documentation and Instruction</li>
<li>FREE at Home Workout</li>
<li>Simple Weight Loss, Save Time and Money</li>
</ul>

<img src="/images/getstarted.jpg" alt="get started"/>
<h1>Let's Get Started!</h1><a href="#/products"><button class="started btn btn-default">Get Started!</button></a>
<p>P.S. There is a reason you found us…. Let’s take this step together</p>
