<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />

    <link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="slicknav.css" />
    <link rel="stylesheet" href="styles.css" />

    <style>
      #map {
        width: 100%;
        height: 400px;
        /*background-color: grey;*/
      }
    </style>
  </head>

  <body>

    <!-- Header -->
    <header class="header" role="banner" id="header">
      <div class="container">

        <nav>
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#products">Products</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#shopping_cart"><i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 25px"></i></a></li>
          </ul>
        </nav>

        <h1><a href="#"><img src="images/apple.png" height="120px" width="110px" alt=""></a></h1>
      </div>
    </header>
    <!-- Header ends -->



    <h1 style="color:#00ff55">Find Us</h1>
    <div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6535.941513849853!2d-84.37546660988292!3d33.84868559333072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f50f5fbcbfb52d%3A0xd68cab62b57aabf!2s3423+Piedmont+Rd+NE%2C+Atlanta%2C+GA+30305!5e0!3m2!1sen!2sus!4v1482355757830" width="850" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div><br><br>



    <!-- map with location marker - atlanta -->
    <!-- <h3>Contact Us</h3> -->
      <br><br><br><br>
      <div>
        <h2 style="color:#00ff55">We’d Love to Hear From You, Get In Touch With Us!   <i class="fa fa-comments-o" aria-hidden="true"></i></h2>
      </div>

      <h4>
        <ul>At FitLife, our attentive staff is available to</ul>
        <ul>answer your questions and ensure you are 100% satisfied.</ul>
        <ul>Send us an email below.</ul>
      </h4>

      <a target="_blank" href="mailto:trista_mccleary@yahoo.com"><i class="fa fa-envelope-o" style="font-size:30px"></i>Email Us!</a><br><br><br><br>



      <!-- Footer -->
      <footer class="source-org copyright footer text-center">
        <div class="container">
          <a href="#/"><img src="images/apple.png" height="50px" width="50px" alt="FitLife" /></a>
          <br>
          <p>Copyright ©2017 <a href="http://http://54.190.52.82:5000/">FitLife</a></p>
          Made with
            <i class="fa fa-heart" aria-hidden="true" style="color:red"></i>
             &amp;
            <i class="fa fa-music" aria-hidden="true" style="color:blue"></i>
        </div>
      </footer>
      <!-- Footer Ends! -->

      <!-- <a href="#header" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->




  </body>
</html>
