<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />

<link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="slicknav.css" />
<link rel="stylesheet" href="styles.css" />
</head>
<body>
<!-- Header -->
<header class="header" role="banner" id="header">
  <div class="container">
    <!-- <div id="top"> -->
    <nav>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#products">Products</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#shopping_cart"><i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 25px"></i></a></li>
      </ul>
    </nav>
    <!-- <div class> -->
    <!-- </div> -->

    <h1><a href="#"><img src="images/apple.png" height="120px" width="110px" alt=""></a></h1>
  </div>
</header>
<!-- Header ends -->

<main class="front-page main" role="main">
  <h1 style="color:#00ff55">Welcome to FitLife</h1>

  <!-- Slider Ends! -->
  <section class="slider">
    <div class="container">

      <ul class="slides">
        <li style="background-image: url(images/kitchen.png);">
          <p>Weight Loss at home<br><span>Healthy Meals</span></p>
        </li>
        <li style="background-image: url(images/food-table.jpg);">
          <p>Designed for You<br><span>Simple Weight Loss</span></p>
        </li>
        <li style="background-image: url(images/fitness-couple.jpeg);">
          <p>Workout at Home<br><span>Save time &amp; Money</span></p>
        </li>
      </ul>

    </div>
  </section>
  <!-- Slider Ends! -->

  <!-- Featured Blocks -->
  <section class="featured">
    <div class="container">

      <div class="block">
        <!-- <div>
          <h2>Healthy Meals at Home</h2>
          <p>We will provide you with a structured, balanced and easy meal plan to follow from home. We show you how to maintain your weight loss! </p>
          <p><a href="#/products">Shop Now</a></p>
        </div> -->
        <img src="images/meal-plate.jpg" alt="">
      </div>

      <div class="block">
        <img src="images/money.jpg" alt="">
        <!-- <div>
          <h2>Save Money</h2>
          <p>When you are eating healthier, more nutritious meals, you will save money on healthcare expenses. Just easy to use, healthy daily meal plans created just for you!</p>
          <a href="#/products">Shop Now</a>
        </div> -->
      </div>

      <div class="block">
        <img src="images/apple-tape.jpg" alt="">
        <!-- <div>
          <h2>Increased Energy</h2>
          <p>We know your health is important to you and we are here to get you on the right track and teach you how to eat the healthy to reach your weight loss goals!</p>
          <a href="#/products">Shop Now</a>
        </div> -->
      </div>

    </div>
  </section>
  <!-- Featured Blocks Ends! -->

  <!-- Services -->
  <section class="fullWhite">
    <div class="container">
      <div class="row">
        <!-- <a class="anchor" id="services"></a> -->

        <div class="col-md-4">
          <div class="services">
              <i class="fa fa-home"></i>
              <h4>Healthy Meals at Home</h4>
              <p>We will provide you with a structured, balanced and easy meal plan to follow from home. We show you how to maintain your weight loss! </p>
            </div>
          </div>


        <div class="col-md-4">
          <div class="services">
              <i class="fa fa-money"></i>
              <h4>Save Money</h4>
              <p>When you are eating healthier, more nutritious meals, you will save money on healthcare expenses. Just easy to use, healthy daily meal plans created just for you!</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="services">
              <i class="fa fa-apple"></i>
              <h4>Increased Energy</h4>
              <p>We know your health is important to you and we are here to get you on the right track and teach you how to eat the healthy to reach your weight loss goals!</p>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4">
          <div class="services">
              <i class="fa fa-cutlery"></i>
              <h4>Want to Lose Weight?</h4>
              <p>We can simplify Clean Eating for you in such a general, logical program, it will be IMPOSSIBLE for you to fail. Our program is a NO GIMMICK, NO NONSENSE approach that anyone with a small amount of effort can put this program to use and experience great results. Choose your plan based on Gender, Height and Weight.</p>
          </div>
        </div>

          <div class="col-md-4">
            <div class="services">
                <i class="fa fa-heartbeat"></i>
                <h4>Not getting Results?</h4>
                <p>Are you tired of short-cut diet plans that fail? Complicated Macro plans? Empty promises and you gain or have trouble maintaining your weight? Our program is a NO GIMMICK, NO NONSENSE approach that anyone with a small amount of effort can put to use and experience great results. We teach you how to Change your Eating Habits and Change Your Life! Its really that simple.</p>
            </div>
          </div>


          <div class="col-md-4">
            <div class="services">
                <i class="fa fa-home"></i>
                <h4>We can help!</h4>
                <p>We will design a Meal Plan just for you based on your Gender, Height and Weight. We provide you the freedom to pick your own foods. We also educate you on how to sustain your weight loss. Let our nutrition experts help you lose weight by changing your eating habits. Let us help you learn how to eat healthier today!</p>
            </div>
          </div>
        </div>


  </section>
  <!-- Services Section Ends! -->


  <section class="fullWhite">
    <div class="container">

        <h1 style="color:#00ff55">Why choose us?</h1>

        <h3><i class="fa fa-cutlery" aria-hidden="true">
        We Personalize your Meal Plan to your Gender, Height and Weight.</i></h3>
        <h3><i class="fa fa-cutlery" aria-hidden="true">
        We help you save time and money by creating a weight loss plan you can do at home.</i></h3>
        <h3><i class="fa fa-cutlery" aria-hidden="true">
        We allow you the freedom to pick your foods.</i></h3>
        <h3><i class="fa fa-cutlery" aria-hidden="true">
        We Educate you on How to Sustain your Weight Loss.</i></h3>
        <h3><i class="fa fa-cutlery" aria-hidden="true">
        We Help You Change Your Eating Habits and Change Your Life!</i></h3>

        <div class="row row6">
          <div class="col col-md-12">
            <h3 style="color:#00ff55">Let us help you get started leading a healthier life today!</h3>
            <a href="#/products"><button class="started btn btn-default" style="color:#00ff55">Get Started!</button></a>
          </div>
        </div>

      </div>
  </section>

  <section class="fullWhite">
    <div class="container">
    </div>
</section>

</main>
<!-- Main Ends! -->

<!-- Footer -->
<footer class="source-org copyright footer">
  <div class="container">
    <a href="#/"><img src="images/apple.png" height="50px" width="50px" alt="FitLife" /></a>
    <br>

    <p>Copyright 2017 <a href="http://http://54.190.52.82:5000/">FitLife</a></p>
    Made with
      <i class="fa fa-heart" aria-hidden="true"></i>
       &amp;
      <i class="fa fa-music" aria-hidden="true"></i>
  </div>
</footer>
<!-- Footer Ends! -->

<!-- <a href="#top" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->




<!-- Scripts -->
<!-- <script src="scripts/jquery-1.11.0.min.js"></script>
<script src="scripts/flexslider/jquery.flexslider-min.js"></script>
<script src="scripts/isotope.pkgd.min.js"></script>
<script src="scripts/jquery.slicknav.min.js"></script>
<script src="scripts/theme.js"></script>
<script src="scripts/form.js"></script> -->
<!-- Scripts Ends! -->

  </body>
</html>
