<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>

    <h1>Home Page</h1>
    <!-- Img frame 1 left -->
    <div class="header-image">
      <img src="images/tomatoes-color.jpg" alt="tomatoes"/>
    </div>
    <img src="/images/kitchen.png" alt="kitchen"/>
    <h2>
      Healthy Meals at Home
    </h2>
    <p>
    We will provide you with a structured, balanced and easy meal plan to follow from home. We show you what foods to eat, how much food to eat, when to eat your meals and how to maintain your weight loss! We teach you how to live a FitLife!
    </p>

    <!-- Img frame 2 center-->
    <img src="/images/money.jpg" alt="money" />

    <h2>
      Save Money
    </h2>
    <p>
      When you are eating healthier, more nutritious meals, you will save money on healthcare expenses. There will be no fad diets, no unhealthy juicing, no extreme fasting and no dangerous drugs! Just easy to use, healthy daily meal plans created just for you!
    </p>

    <!-- Img frame 2 right-->
    <img src="/images/apple-tape.jpg" alt="apple" />

    <h2>
      Increased Energy
    </h2>
    <p>
      You will feel better and have more energy to to have fun with family. We know your health is important to you and we are here to get you on the right track and teach you how to eat the healthy, clean way to reach your weight loss goals!
    </p>


    <!-- next section left tabs-->
    <ul>want to lose weight
      <li>We can simplify Clean Eating for you in such a general, logical program, it will be IMPOSSIBLE for you to fail. Our program is a NO GIMMICK, NO NONSENSE approach that anyone with a small amount of effort can put this program to use and experience great results.</li>
    </ul>

    <ul>Not Getting Results?
      <li>Are you tired of short-cut diet plans that fail? Complicated Macro plans? Empty promises and you gain or have trouble maintaining your weight? Our program is a NO GIMMICK, NO NONSENSE approach that anyone with a small amount of effort can put to use and experience great results. We teach you how to Change your Eating Habits and Change Your Life! Its really that simple.</li>
    </ul>

    <ul>We Can Help!
      <li>We will design a Meal Plan just for you based on your Gender, Height and Weight. We provide you the freedom to pick your own foods. We also educate you on how to sustain your weight loss. Let our nutrition experts help you lose weight by changing your eating habits. Let us help you learn how to live a FitLife today!</li>
    </ul>



    <!-- right section -->
    <ul>Why Choose Us?
      <li>We Personalize your Meal Plan to your Gender, Height and Weight</li>
      <li>We help you save time and money by creating a weight loss plan you can do at home.</li>
      <li>We allow you the freedom to pick your foods</li>
      <li>We Educate you on How to Sustain your Weight Loss</li>
      <li>We Help You Change Your Eating Habits and Change Your Life!</li>
    </ul>


  </body>
</html>
