<div class="container-fluid">
  <h1 class="optionsHeader">Tell us which plan you want!</h1>
  <div class="row packages">
    <div class="col col-md-2"></div>
    <!-- Training Plan Option -->
    <div class="col col-md-4 individual">
      <div class="options">
        <h3>Training Plan</h3><br>
        <h5>Get in shape and feel better</h5><br>
        <img src="/images/.jpg" alt="Training Plan" /><br>
        <table>
          <tr>
            <td class="leftOption">Quantity:</td>
            <td class="rightOption">1</td>
          </tr>
          <tr>
            <td class="leftOption">Price:</td>
            <td class="rightOption">$60.00</td>
          </tr>
          <tr>
            <td class="leftOption">Total:</td>
            <td class="rightOption">$60.00</td>
          </tr>

        </table>
        <button ng-click="order()" class="btn optionsBtn" type="submit" name="button">Order</button>
      </div>
    </div>

    <!-- Men's Meal Plan Option -->
    <div class="col col-md-4 individual">
      <div class="options">
        <h3>Men's Meal Plan</h3><br>
        <h5>Meal Plan made for the guys</h5><br>
        <img src="/images/.jpg" alt="Men's Meal Plan" /><br>
        <table>
          <tr>
            <td class="leftOption">Quantity:</td>
            <td class="rightOption">1</td>
          </tr>
          <tr>
            <td class="leftOption">Price:</td>
            <td class="rightOption">$60.00</td>
          </tr>
          <tr>
            <td class="leftOption">Total:</td>
            <td class="rightOption">$60.00</td>
          </tr>

        </table>
        <button ng-click="order()" class="btn optionsBtn" type="submit" name="button">Order</button>
      </div>
    </div>

    <!-- Women's Meal Plan Option -->
    <div class="col col-md-4 individual">
      <div class="options">
        <h3>Women's Meal Plan</h3><br>
        <h5>Meal Plan made for the ladies</h5><br>
        <img src="/images/.jpg" alt="Men's Meal Plan" /><br>
        <table>
          <tr>
            <td class="leftOption">Quantity:</td>
            <td class="rightOption">1</td>
          </tr>
          <tr>
            <td class="leftOption">Price:</td>
            <td class="rightOption">$60.00</td>
          </tr>
          <tr>
            <td class="leftOption">Total:</td>
            <td class="rightOption">$60.00</td>
          </tr>

        </table>
        <button ng-click="order()" class="btn optionsBtn" type="submit" name="button">Order</button>
      </div>
    </div>
  </div>
</div>
