<div class="container-fluid">
  <div class="paymentPage">
    <div class="row">
      <h2>Payment</h2>
      <br>
      <h4>Products <a href="#/options">(Edit)</a></h4>
      <div class="col col-xs-6">
        <p>Training Plan</p>
        <p>Men's Meal Plan</p>
        <p>Women's Meal Plan</p>
      </div>
      <div class="col col-xs-6">
        <p>{{product}}</p>
        <!-- <p>Weekly</p> -->
        <p>{{quantity}}</p>
      </div>
    </div>
    <div class="row">
      <h4>Delivery Information <a href="#/delivery">(Edit)</a></h4>
      <div class="col col-xs-6">
        <p>Email address to send PDF</p>
        <p>Full Name</p>
        <p>Address Line 1</p>
        <p ng-show="data.address2">Address Line 2</p>
        <p>City</p>
        <p>State</p>
        <p>Zip Code</p>
        <p>PDF will be emailed to the address above after payment. Please allow up to 48 hrs</p>
      </div>
      <div class="col col-xs-6">
        <p>{{data.name}}</p>
        <p>{{data.address1}}</p>
        <p ng-show="data.address2">{{data.address2}}</p>
        <p>{{data.city}}</p>
        <p>{{data.state}}</p>
        <p>{{data.zipcode}}</p>
        <p>{{data.date | date: "MM-dd-yyyy"}}</p>
      </div>
    </div>
    <div class="row">
      <h4>Current Charge</h4>
      <div class="col col-xs-6">
        <p>Quantity</p>
        <p>Total</p>
      </div>
      <div class="col col-xs-6">
        <p>${{quantity * 60}}</p>
        <p>FREE!</p>
        <p>${{quantity * 60}}</p>
      </div>
    </div>
    <div class="row">
      <br>
      <a ng-click="pay()"><button type="submit" class="btn submitOrderBtn">Pay with card</button></a>
      <!-- <a ng-click="submitOrder()"><button type="submit" class="btn submitOrderBtn">Submit Order</button></a> -->
    </div>
  </div>
</div>
