<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shopping Cart</title>
  </head>
  <body>
    <div ng-controller="productsController" ng-init = "getCart()">

    <h1>Shopping Cart</h1>


    <h1>Items in your shopping cart:</h1>
    {{itemsArray}}
    <ul>
      <li ng-repeat="name in itemsArray">
        {{name}} - $60.00
        <input type="radio" ng-model="my.favorite" ng-value="name" id="{{name}}" name="favorite">
      </li>
      <li><button class="btn btn-danger removeItemFromCart" ng-click="removeItemFromCart('{{my.favorite}}')">Delete From Cart</button></li>

    </ul>
    Total: {{total  | currency}}
    <button ng-click="pay()">Checkout</button>
  </div>

  </body>
</html>
