<div class="container-fluid">

  <div class="thankyou">
    <h2>Thank you for your purchase! Please allow up to 48 hours to receive your plan via email containing your PDF.</h2>
    <br>
    <hr>
    <h4 class="text-center">Your card has been charged<br>and your plans will be emailed shortly!</h4>
    <br>
    <p>We hope that you enjoy your individual plans made by us here at FitLife.</p>

    <p>Should you notice that something is not quite right, please contact us immediately. We want to ensure that you have the best possible experience with FitLife and that you continue to purchase in the future and recommend us to others!</p>
    <p>We love to help others lead a healthy lifestyle and hope that you do too!</p>
    <p>From all of us here at FitLife, thank you and have fun!</p>
  </div>

</div>
