<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>FitLife</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />

<link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="slicknav.css" />
<link rel="stylesheet" href="styles.css" />

<body>

<!-- Header -->
<header class="header" role="banner" id="header">
  <div class="container">

    <nav>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#products">Products</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#shopping_cart"><i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 25px"></i></a></li>
      </ul>
    </nav>

    <h1><a href="#"><img src="images/apple.png" height="120px" width="110px" alt=""></a></h1>

  </div>
</header>
<!-- Header ends -->

<main class="front-page main" role="main">

  <!-- short codes -->
  <section class="fullWhite">
    <div class="container">

      <h1 class="fancy-title">Thank you for your order!</h1>
      <div class="thankyou">

        <h2>Thank you for your purchase! Please allow up to 48 hours to receive your plan via email containing your PDF.</h2>
        <br>
        <hr>
        <h4 class="text-center">Your card has been charged<br>and your plans will be emailed shortly!</h4>
        <br>
        <p>We hope that you enjoy your individual plans made by us here at FitLife.</p>

        <p>Should you notice that something is not quite right, please contact us immediately. We want to ensure that you have the best possible experience with FitLife and that you continue to purchase in the future and recommend us to others!</p>
        <p>We love to help others lead a healthy lifestyle and hope that you do too!</p>
        <p>From all of us here at FitLife, thank you and have fun!</p>
      <br><br>

      </div>
      <!-- extra div to align inner element to left Ends here! -->

    </div>
  </section>
  <!-- short codes Ends! -->

</main>
<!-- Main Ends! -->

<!-- Footer -->
<footer class="source-org copyright footer">
  <div class="container">
    <a href="#/"><img src="images/apple.png" height="50px" width="50px" alt="FitLife" /></a>
    <br>

    <p>Copyright 2017 <a href="http://http://54.190.52.82:5000/">FitLife</a></p>
    Made with
      <i class="fa fa-heart" aria-hidden="true"></i>
       &amp;
      <i class="fa fa-music" aria-hidden="true"></i>
  </div>
</footer>
<!-- Footer Ends! -->

<!-- <a href="#header" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->

</body>
</html>
